<%= form_for(@game) do |form| %>
  <%= render 'layouts/error_messages', model: form.object %>

  <div class="wrap">
    <h2>Game Information</h2>
  </div>

  <div class="game-info-form">
    
    <div class="game-form-box">
      <div class="label">Match</div> 
      <%= form.text_field :home_team, :placeholder => "Home Team" %>
      <div class="colon">:</div>
      <%= form.text_field :away_team, :placeholder => "Away Team" %>
    </div>

    <div class="game-form-box">
      <div class="label">Score</div>
      <%= form.number_field :home_score, min: 0, :placeholder => "Home Score" %>
      <div class="colon">:</div>
      <%= form.number_field :away_score, min: 0, :placeholder => "Away Score" %>
    </div>

    <div class="game-form-box">
      <div class="label">Date</div>
      <%= form.date_select :date %>
    </div>

    <div class="game-form-box">
      <div class="label">MOTM</div> 
      <%= form.text_field :mom, :placeholder => "Man of the Match" %>
    </div>

    <div class="game-form-box">
      <div class="label">Game Comment</div> 
      <%= form.text_area :game_text, size: "100x15", :placeholder => "Game Comment" %>
    </div>

    <div class="game-form-box">
      <div class="label">Rate Team</div> 
      <%= form.text_field :rate_team, :placeholder => "Rate Team"%>
    </div>
    
  </div>
  
  <div class="wrap">
    <h2>Player Rate</h2>
  </div>
  
    <div class="rate-form">
      <%= form.fields_for :rates do |r| %>
        <%= render partial: "rate_fields", locals: {f: r} %>
      <% end %>
    </div>  

    <div class="wrap">
      <%= form.submit 'RATE', class: "btn btn-submit" %>
    </div>
<% end %>