<div class="info-box">
    <p class="name"><a href="/games/<%= game.id %>"><%= game.home_team %> <%= game.home_score %> : <%= game.away_score %> <%= game.away_team %></a></p>
    
    <ul class="game-info">
        <li class="info">MATCH DATE: <%= game.date %></li>
        <li class="info">RATED TEAM: <%= game.rate_team %></li>
        <li class="info">RATED BY: <%= game.user.nickname %></li>
    </ul>
    <div class="links">
        <%= link_to "SHOW", "/games/#{game.id}", method: :get, class: "btn" %>
        <% if user_signed_in? && game.user_id == current_user.id %>  
            <%= link_to 'EDIT', "/games/#{game.id}/edit", method: :get, class: "btn" %>
            <%= link_to 'DELETE', "/games/#{game.id}", method: :delete, class: "btn", data: {confirm: "削除しますか？"} %>
        <% end %>
    </div>
</div>