<div class="nested-fields">
    <%= f.select :position, {'GK': 'GK', 'CB': 'CB', 'RB': 'RB', 'LB': 'LB', 'DMF': 'DMF', 'CMF': 'CMF', 'OMF': 'OMF', 'RMF': 'RMF', 'LMF': 'LMF', 'RWG': 'RWG', 'LWG': 'LWG', 'ST': 'ST', 'CF': 'CF' }, { include_blank: 'POS' } %>
    
    <%= f.text_field :name, :placeholder => "Player Name" %>
    
    <%= f.select :rate, {'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, '5': 5, '6': 6, '7': 7, '8': 8, '9': 9, '10': 10}, { include_blank: 'RATE'} %>
    
    <%= f.label :rate_text %>
    <%= f.text_field :rate_text, :placeholder => "Player Comment" %>

  
<%= link_to_remove_association "remove", f %>
</div>