<p id="notice"><%= notice %></p>

<h2>Match Information</h2>
<ul class="match-info">
  <li>MATCH DATE: <%= @game.date %></li>
  <li>SCORE: <%= @game.home_team %> <%= @game.home_score %> : <%= @game.away_score %> <%= @game.away_team%></li>
  <li>MOTM: <%= @game.mom %></li>
  <li>COMMENT: <%= @game.game_text %></li>
</ul>

<h2><%= @game.rate_team %>'s Player Rate</h2>

<div class="player-rate">
  <% @game.rates.each do |rate| %>
  <ul class="rate-box">
    <li>POSITION: <%= rate.position %></li>
    <li>NAME: <%= rate.name %></li>
    <li>RATE: <%= rate.rate %></li>
    <li>COMMENT: <%= rate.rate_text %></li>
  </ul>
  <% end %>
</div>
<% if user_signed_in? && game.user_id == current_user.id %>
<%= link_to 'Edit', edit_game_path(@game) %> 
<% end %>
<%= link_to 'Back', games_path %>